.form {
  padding: 2rem;
}

.p-float-label {
  margin-bottom: 2rem;
}

.text-base {
  width: 100%;
}

.title {
  height: 3rem;
}

.content {
  height: none;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}
